@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.card {
    background-color: white;
    height: 1200px;
    width: 380px;
}

.heading {
    color: #323f4b;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 600;
    text-align: center;
}

.paragraph {
    color: #7b8794;
    font-size: 16px;
    font-family: "Roboto";
    text-align: center;
}

.image {
    height: 90px;
    width: 90px;
}

.sub-heading {
    color: #323f4b;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 600;
}

.sub-paragraph {
    color: #9aa5b1;
    font-size: 16px;
    font-family: "Roboto";
}
